<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/index.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</head>

<body>
    <br><br>
    <div class="container">
        <div class="card mb-3">
            <div class="card-body">
                <div class="text-center">
                    <img src='/static/melanoma.jpeg' alt='Melanoma Image' class="img-fluid rounded-circle mb-3" style="max-width: 150px;">
                    <h5 class="card-title">Melanoma</h5>
                </div>
                
                <p class="card-text">Melanoma is a type of skin cancer that originates in melanocytes, the cells responsible for producing melanin,
                    the pigment that gives skin its color. Melanoma can develop in normal skin or in an existing mole
                    that undergoes malignant transformation. It is considered the most serious form of skin cancer due
                    to its potential to metastasize (spread) to other parts of the body if not detected and treated
                    early.Melanoma often appears as an asymmetrical mole with irregular borders and uneven coloring, ranging from shades of brown to
                    black. However, it can also present as a new mole or spot on the skin that exhibits rapid growth,
                    changes in size, shape, or color, or unusual symptoms such as itching, bleeding, or crusting.</p>
            </div>
        </div>
        <div class="text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/a1H-NMjfYU4?si=3dZx7ICU7uXcW5zH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Precautions for Melanoma</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Sun Protection:</strong> Protect your skin from the sun's harmful UV rays by wearing sunscreen with a high SPF, seeking shade during peak sun hours, and wearing protective clothing such as hats and long-sleeved shirts.</li>
                    <li class="list-group-item"><strong>Regular Skin Checks:</strong> Perform regular self-examinations of your skin to monitor existing moles and identify any new or changing lesions. Look for the ABCDEs of melanoma: Asymmetry, Border irregularity, Color variation, Diameter greater than 6mm, and Evolution or changes over time.</li>
                    <li class="list-group-item"><strong>Early Detection:</strong> Seek prompt medical attention if you notice any suspicious changes in your skin or develop new moles. Dermatologists can perform thorough skin examinations and may recommend biopsies or other diagnostic tests to evaluate suspicious lesions.</li>
                    <li class="list-group-item"><strong>Avoid Tanning Beds:</strong> Refrain from using tanning beds or sunlamps, as they can increase the risk of developing melanoma and other types of skin cancer.</li>
                    <li class="list-group-item"><strong>Know Your Risk Factors:</strong> Be aware of factors that increase your risk of developing melanoma, such as a history of sunburns, excessive UV exposure, family history of melanoma, fair skin, and numerous or atypical moles.</li>
                    <li class="list-group-item"><strong>Regular Dermatologist Visits:</strong> Schedule regular skin screenings with a dermatologist, especially if you have a personal or family history of melanoma or other skin cancers. Dermatologists can assess your skin cancer risk and provide personalized recommendations for prevention and early detection.</li>
                </ul>
                <p class="card-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;By adopting these precautions and
                    maintaining
                    vigilance over changes in the skin, individuals can reduce their risk of melanoma and improve the
                    chances of early detection and successful treatment. Early diagnosis and treatment are crucial for
                    achieving favorable outcomes and minimizing the potential impact of melanoma on overall health and
                    well-being.</p>
            </div>
        </div>
    </div>
</body>

</html>
